@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100;400&display=swap');

:root {
  font-size: 16px;
  --header-font: 'Playfair Display';
  --text-font: 'Roboto';
}

* {
  box-sizing: border-box;
}

.header-text {
  font-family: var(--header-font), serif;
}

.main-text {
  font-family: var(--text-font), sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 12px;
  margin-bottom: 60px;
}

.header-picture {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
}

.image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.full-name {
  
  font-size: 3rem;
  color: white;
  background-color: rgba(14, 59, 14, 0.5);
  position: absolute;
  bottom: 12px;
  padding: 4px 6px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 12px;
}

.about-me {
  color: rgb(105, 105, 105);
  margin: 0 6px;
  padding: 0 6px;
  font-size: 1.25rem;
}

.icons {
  display: flex;
  justify-content: center;
  margin: 16px;
  gap: 16px;
}

.icons :is(img, svg){
  width: 36px;
}

.icons :is(img, svg):hover{
  opacity: 0.5;
  cursor: pointer;
}

