@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100;400&display=swap");

:root {
  font-size: 16px;
  --header-font: "Playfair Display";
  --text-font: "Roboto";
}

html {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.header-text {
  font-family: var(--header-font), serif;
}

.main-text {
  font-family: var(--text-font), sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 12px;
  margin-bottom: 60px;
}

.header-picture {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
}

.image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.full-name {
  font-size: 3rem;
  color: white;
  background-color: rgba(14, 59, 14, 0.5);
  position: absolute;
  bottom: 12px;
  padding: 4px 6px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 12px;
}

.about-me {
  margin: 0 6px;
  padding: 0 6px;
  font-size: 1.25rem;
}

.icons {
  display: flex;
  justify-content: center;
  margin: 16px;
  gap: 16px;
}

.icons :is(img, svg) {
  width: 36px;
}

.icons :is(img, svg):hover {
  opacity: 0.5;
  cursor: pointer;
}

main {
  margin: 12px;
  padding: 48px 0;
}

.card {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin: 12px 24px;
}

.card .icons :is(img, svg) {
  width: 24px;
}

.card .icons {
  margin: 0;
  gap: 8px;
}

.card h2 {
  font-size: 1.25rem;
}

.card-header {
  display: flex;
  justify-content: space-around;
}

.card-body {
  padding: 24px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.card-body .main-text {
  color: rgb(105, 105, 105);
}

.image-placeholder {
  height: 200px;
  background-color: antiquewhite;
}

footer {
  background-color: #0891b2;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-body {
  padding: 27px 16px;
}

footer p.main-text {
  font-size: 1.25rem;
}

address,
.contact-info {
  font-size: 0.8rem;
}

.contact-info {
  display: grid;
  grid-template-columns: auto 1fr;
}

.contact-info p {
  margin: 3px 0;
}

.contact-info :is(img, svg) {
  width: 0;
}

footer h1 {
  margin: 6px;
}

#mail-p {
  padding: 3px;
}
